.navbar-default .navbar-brand {
	color: #DAF7A6;
	font-weight: bold;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: white;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #DAF7A6;
}
.navbar-brand {
	font-size: 21px;
}
.navbar-default { 
	background-color: #AC133F;
}
.nav_info li a {
	padding: 0px;
	font-size: 12px;
}
#landing {
	background-color: lightgrey;
	height: 500px;
}
#landing h1{
	font-size: 90px;
	color: #900C3F;
	margin-top: 100px;
	text-align: center;
	font-weight: bold;
}
#landing li {
	list-style: none;
	text-align: center;
	color: #FF5733;
	font-size: 25px;
	font-weight: bold;
}

.badge {
	background-color: white;
	color: black;
	font-size: 15px;
	margin-top: 10px;
	width: 50px;
}
.description {
	color: grey;
	font-size: 12px;
}
.list-group-item {
	text-align: center;
}